@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
}

.game {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.game-board {
  margin-right: 20px;
}

.status {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  cursor: pointer;
}

.square:hover {
  background-color: #f2f2f2;
}
